

$color-tomato:tomato;
$color-primary:red;
$color-whit:#ddd;
$text-color:#eee;
$pragra-color: rgba(0, 0, 0, 0.952);
$styl-color:burlywood;


$font-size-lg:3rem;
$font-size-s-lg:2rem;
$font-size-s:1.5rem;
$font-size-s-s:1rem;