
.btn{
    @include flexs(flex,center,center,0rem);

    button{
        @include buton($pragra-color,$text-color);
        padding: 1rem 3rem;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.3s;


        &:hover{
            transform: translate(-4px,4px);
            background-color: $color-primary;
        }
    }
}