.home-container{
    background-image: url(https://media.gettyimages.com/id/1311148884/vector/abstract-globe-background.jpg?s=612x612&w=gi&k=20&c=G5uPfn2VTF3aXCr76pn1T7oWE-aHVQ0rAYMl_MK2OvM=);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    height: auto;

    .scolwImage{
       
        width: 40%;
        img{
           width: 100%;
           height: 100%;
        }
        h3{
            color: aliceblue;
            
        }
        p{
            color: aliceblue;
        }
    }
    .scolImage{
        width: 40%;
        img{
            width: 100%;
            height: 100%; 
        }
    }
    .scoImage{
        width: 40%;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
}